
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
:root{
    --main-color:#2980b9;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgba(255, 68, 68, 0.44);
}
section {
    padding: 5rem 1rem;
}

.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color: var(--light-bg);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 1100;
}

.message span{
    font-size: 2rem;
    color:var(--black);
}

.message i{
    cursor: pointer;
    color:var(--red);
    font-size: 2.5rem;
}


.header .profile{
    position: absolute;
    top:120%; right:2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding:2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation:fadeIn .2s linear;
}

.header .profile.active{
    display: inline-block;
}

.header .profile p{
    text-align: center;
    color:var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.message i:hover{
    color:var(--black);
}


.link-btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    display: inline-block;
    border: 0.1rem solid #692121;
    color: #802e2e;
    background: none;
    cursor: pointer;
    font-size: 1.7rem;
}


.search-form form{
    display: flex;
    gap:1rem;
}

.search-form form input{
    width: 100%;
    border:var(--border);
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
}

.search-form form button{
    font-size: 2.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    background-color: var(--main-color);
    cursor: pointer;
    color:var(--white);
    border-radius: .5rem;
    width: 6rem;
    text-align: center;
}

.search-form form button:hover{
    background-color: var(--black);
}

.link-btn:hover {
    background: #802e2e;
    color: #fff;
}

.heading {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: #222;
}

.header {
    z-index: 1000;
    padding: 4rem 0;
    background: #691f1f;
}

.header.active {
    padding: 2rem 0;
    background: #691f1f;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header .nav a {
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;
    position: relative;
}

.header .nav a:hover {
    text-decoration: underline !important;
    text-underline-offset: .5rem;
}

.header .icons div {
    font-size: 2.2rem;
    color: #fff;
    margin-left: 2rem;
    cursor: pointer;
}

.header #menu-btn {
    display: none;
}


.home span {
    font-size: 2.5rem;
    color: #fff;
}

.home h3 {
    padding: 1rem 0;
    font-size: 6rem;
    color: #fff;
}

.home .link-btn {
    color: #fff;
    border-color: #fff;
}

.gallery .box-container {
    display: -ms-grid;
    display: grid;
    /*  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.gallery .box-container .box {
    overflow: hidden;
    position: relative;
    height: 25rem;
}

.gallery .box-container .box:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid #511022;
}

.gallery .box-container .box:hover img {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.gallery .box-container .box:hover .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    padding-top: 4rem;
}

.gallery .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
}

.gallery .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
}


.operation .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.operation .box-container .box {
    overflow: hidden;
    position: relative;
    height: 25rem;
}

.operation .box-container .box:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid #512a10;
}

.operation .box-container .box:hover img {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.operation .box-container .box:hover .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.operation .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.operation .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    padding-top: 4rem;
}

.operation .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
}

.operation .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
}

.operation3 form {
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.operation3 form .flex {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.operation3 form .flex .inputBox {
    flex: 1 1 25rem;
}

.operation3 form span {
    font-size: 1.7rem;
    color: var(--light-color);
}

.operation3 form .box {
    font-size: 1.8rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.4rem;
    width: 100%;
    margin-top: 1.5rem;
}

.operation3 form textarea {
    height: 5.4rem;
    resize: none;
}


.footer {
    text-align: center;
}

.footer .logo {
    font-size: 3rem;
    color: #691f1f;
    font-weight: bolder;
}

.footer .credit {
    margin: 2rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
}

.footer .credit span {
    text-decoration: underline !important;
}

.footer .share {
    margin-top: 3rem;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: 0.1rem solid #691f1f;
    color: #691f1f;
    margin: 0 .3rem;
}

.footer .share a:hover {
    background: #c24d4d;
    color: #fff;
}


@media (max-width: 901px) {
    html {
        font-size: 55%;
        scroll-padding-top: 8rem;
    }
    .home h3 {
        font-size: 4rem;
    }
    section {
        padding: 3rem 0;
    }
}

@media (max-width: 900px) {

    .header {
        padding: 4rem 2rem;
    }
    .header.active {
        padding: 2rem;
    }
    .header #menu-btn {
        display: inline-block;
    }
    .header #menu-btn.fa-times {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .header .nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        padding: 1rem 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .nav.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .nav a {
        margin: 1rem 2rem;
        color: #222;
    }
    .contact .map {
        height: 25rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 40%;
    }
}