@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --orange: #f39c12;
    --red: #e74c3c;
    --black: #444;
    --white: rgb(255, 255, 255);
    --light-color: #777;
    --light-bg: #f5f5f5;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.btn,
.delete-btn,
.option-btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: var(--black);
}

.btn {
    background-color: var(--light-bg);
    color:  #512a10;;
}

.option-btn {
    background-color: var(--orange);
}

.delete-btn {
    background-color: var(--red);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}
.edit-details form {
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.edit-details form .flex {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.edit-details form .flex .inputBox {
    flex: 1 1 25rem;
}

.edit-details form span {
    font-size: 1.7rem;
    color: var(--light-color);
}

.edit-details form .box {
    font-size: 1.8rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.4rem;
    width: 100%;
    margin-top: 1.5rem;
}

.edit-details form textarea {
    height: 5.4rem;
    resize: none;
}
